<!DOCTYPE html>
<html lang='en' ng-app='musicHive'>
	<head>
		<meta charset="utf-8">
		<script src="js/angular.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-sanitize.js"></script>
		<script type="text/javascript" src="js/services.js"></script> 
		<script type="text/javascript" src="js/controller.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link href="css/app.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>

		<title>Music Hive</title>
	</head>
	<body ng-controller='musicController'>
		<div>
			<header>
				<h2 class="text-center">Music Hive</h2>
			</header>	
			<div class="top-bg">
				<span>
				<input type='text' ng-model='artist' placeholder='Enter artist name..'/></span>
				<span><button ng-click='fetchArtist()' class='btn btn-success'>submit</button></span>
				<br>
				<p>Search for your favorite artists and play their tracks...</p>
			</div>
		  
		  <div>{{error}}</div>

					<div class="tracklist row" ng-show="songs">
							<p id='info'>Click on the song title to play the full song</p>
							<div class="col-md-4 cards" ng-repeat="song in songs">
								<p><img ng-src={{song.album.cover}}></p>
								<a href="{{song.link}}" target="_blank">{{song.title}}</a>
								<br />
								<audio id='control' controls>
								  <source ng-src="{{song.preview}}" type="audio/mpeg">
								</audio><br />
							</div>
					</div>
			</div>
			<footer>Anna Ogbemi-Ifediora. AngularJs Project</footer>
	</body>
</html>